.wrapper {
  max-width: 1600px;
  margin-top: 30px;
}

.sensor_wrapper {
  display: inline-block;
  width: calc(50% - 20px);
  margin: 10px;
  padding: 10px;
  background: #f6f6f6;
}

div[id^="chart"] {
  width: 100%;
  height: 300px;
}